       @import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Poppins:wght@400;600;700&display=swap');

        body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #1b0036;
      color: white;
    }

    /* Cabeçalho */
    .cabecalho {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      background-color: #0f0020;
    }

    .logo {
      font-size: 22px;
      font-weight: bold;
      color: #fff;
    }

    .barra_pesquisa {
      flex: 1;
      margin: 0 20px;
    }

    .barra_pesquisa input {
      width: 100%;
      padding: 8px 12px;
      border-radius: 20px;
      border: none;
      outline: none;
    }

    .botoes {
      display: flex;
      gap: 10px;
    }

    .botoes button {
      padding: 6px 15px;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      font-weight: bold;
    }

    .botao_entrar {
      background-color: #fff;
      color: #1b0036;
    }

    .botao_criar {
      background-color: #3a005e;
      color: white;
    }

    /* Seções */
    .secao {
      margin: 25px;
      background-color: #26004d;
      border-radius: 10px;
      padding: 15px;
    }

    .titulo_secao {
      font-size: 18px;
      margin-bottom: 15px;
    }

    .lista_jogos {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: 15px;
    }

    .jogo {
      background-color: #aaa;
      border-radius: 8px;
      width: 100%;
      padding-top: 100%; /* deixa quadrado */
      position: relative;
    }