@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 200px;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    margin: 0 auto 20px;
    height: 100vh;
    font-family: "Jersey 10", sans-serif;
}

.title {
    font-family: "Jersey 10", sans-serif;
    font-size: 170px;
    background: -webkit-linear-gradient(#78007c, #d345d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

input {
    padding: 15px;
    width: 800px;
    border-radius: 25px;
    font-size: 40px;
    font-family:"Jersey 10", sans-serif;
    background: #f2f2f2;
    color: #333;
  }

input:focus {
    border: 2px solid #d345d8;
}

.entrar {
    margin: 125px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-size: 50px;
    font-family: "Jersey 10", sans-serif;
    background: #f2f2f2;
    color: #333;
  }
.image {
    width: 500px; 
    height: 500px;    
    margin: 0 15px 0 0;
    object-fit: contain;
}

#senha {
    margin-bottom: 50px;
}

.senha {
    margin-bottom: 30px;
}

.email {
    margin-bottom: 100px;
}